Solucion HW 1

In [1]:
#1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

n1 = 5

In [4]:
#2) Imprimir el tipo de dato de la constante 8.5

type(8.5)

float

In [5]:
#3) Imprimir el tipo de dato de la variable creada en el punto 1

type(n1)

int

In [6]:
#4) Crear una variable que contenga tu nombre

Name = 'Helton'

In [7]:
#5) Crear una variable que contenga un número complejo

N_Complex = 5 + 5j

In [8]:
#6) Mostrar el tipo de dato de la variable creada en el punto 5

type(N_Complex)

complex

In [9]:
#7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

pi = 3.1416

In [10]:
#8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

Var1 = 'true'
Var2 = True

In [11]:
#9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

print('El primer dato corresponde a una variable tipo: ',type(Var1),"El siguiente dato es una variable tipo: ",Var2)

El primer dato corresponde a una variable tipo:  <class 'str'> El siguiente dato es una variable tipo:  True

In [12]:
#10) Asignar a una variable, la suma de un número entero y otro decimal

Sum = 5 + 5.5

In [18]:
#11) Realizar una operación de suma de números complejos

Sum_J = 4 + 5j
Sum_J2 = 5 + 10j
print(Sum_J+Sum_J2)

(9+15j)

In [14]:
#12) Realizar una operación de suma de un número real y otro complejo

Sum_RJ = 5 + 10j

In [15]:
#13) Realizar una operación de multiplicación

Mult = 5 * 5

In [17]:
#14) Mostrar el resultado de elevar 2 a la octava potencia

Elev = 2**8

print (Elev)

256

In [19]:
#15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

Cosc = 27/4 

print(Cosc)

6.75

In [24]:
#16) De la división anterior solamente mostrar la parte entera
Entero = int(Cosc)
print(Entero)
type(Entero)

6

int

In [27]:
#17) De la división de 27 entre 4 mostrar solamente el resto
resto = 27 % 4 
print(resto)

3

In [30]:
#18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

Operador = 4 * Entero+resto
print(Operador)

27

In [2]:
#19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

Gree = 'Buenos '
Gree2 = 'Aires'
print(Gree+Gree2)

Buenos Aires

In [5]:
#20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

Test1 = 2
Test2= '2'
Test1 == Test2

False

In [12]:
#21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

Test1 == int(Test2)

True

In [14]:
#22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

a = float('3.8')
type(a)

float

In [16]:
#23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

Tres = 3

Tres -= 5

print (Tres)

-2

In [23]:
#24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

1 << 2

4

In [25]:
#25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

print (2 + int('2'))

4

In [28]:
#26) Realizar una operación válida entre valores de tipo entero y string

Manzana = 50
Productos = 'Manzana'

print ("Usted Compro: ",Productos," A un valor de ",Manzana, " Pesos")

Usted Compro:  Manzana  A un valor de  50  Pesos